body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
ol,
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part {
        color: #2e2f42;
}
.header-link {
    color: #434455;
}
.nav-link {
   color: #2e2f42
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf
}
.nav-item {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contact {
    font-style: normal;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover {
    color: #404bbf;
}

.contact-link:focus {
    color: #404bbf;
}
.section {
    background-color: #2e2f42;
}
.head-h {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}
.button {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

.head-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.p-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-list{
        background-color: #F4F4FD
}
.team-list {
    background-color: #FFFFFF;
}
.head-link {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.head-item {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.head-section {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.portfolio-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42
}
.portfolio-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer-page {
    background-color: #2e2f42;
}
.footer-page .logo-part {
    color: #f4f4fd;
}
.p-footer {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}